:root{

    --body-font: sans-serif;
    --background-color: #2a348d;
    --opacity: .5;
}

* {
    box-sizing: border-box; 
  }

body{
    margin:0;
    background-color: azure;

}
/* format header and nav bar to show correctly */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--background-color);
    align-items: baseline;


}
/* formats name, subtitle, and image text */
.header-h1{

    background-color: azure;
    border-radius: 15px;
    padding: 10px 15px 10px 25px;
    margin-left: 10px;
    font-family: var(--body-font);
    color:black;
    
}
/*formats avatar which appears in navbar */
.avatar{
  height:100px;
  width: 75px;
  position: absolute;
  bottom: 8px;
  left: 300px;
  }


/* formats nav bar links */
li{

    display: inline;
   /* color:azure; */
    padding: 0 20px 0 20px;
    font-size: 15px;
    font-family: var(--body-font);
    font-size: 16px;
}
/*sets color of nav bar links */
nav a{

    color:azure
}
/* makes text bolder in nav lins on mouse over */
nav a:hover{

  font-weight: bolder;
}
/* image right under nav bar */
img{
    width:100%;
    height: 400px;
}

/* .container and .bottom-right needed to position text over image  on right hand side*/

.container {
    position: relative;

   
  }


.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    border-radius: 10px;
    padding: 10px 15px 10px 25px;

  }
  /* styles sections about-me, my-work, and footer */
  .section-format{
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--body-font);


  }

  /* formats headers for about-me, my-work and footer*/
  .section-headers{
    font-family: var(--body-font);
    font-size: 30px;
  }

    /***********************************************************************/
    /*parent element set up flexbox*/
    .container-work {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10px;
   
      
  
    }
    /*child element formats the boxes*/
    .work-box {
      display: inline-block;
      border-radius: 10px;
      border: 3px solid var(--background-color);
      box-shadow: 20px 20px 10px grey;
      padding: 20px;
      margin: 12px;
      position:relative;
      min-height: 300px;
      background-repeat: no-repeat;
      background-position: 0% 0%;
      background-size: 100% 100%;
   
      
   
      }
    /*first child element larger size*/
      .work-box:first-child {
      width: 100%;
      background-image: url(../images/code-1076536__340.jpg);
      height: 600px;
      padding-bottom: 10px;
 
      
          

    }
    /*makes dimensions of all other boxes*/
   .work-box:not(:first-child) {
      flex: 1 1 40%;
      height: 300px;
   
    /*put images in the boxes*/
    }
    .work-box:nth-child(2){
      background-image: url(../images/computer-2788918_960_720.jpg);
    }

    .work-box:nth-child(3){
      background-image: url(../images/programmer-7633812__340.webp);
    }

    .work-box:nth-child(4){
      background-image: url(../images/istockphoto-537331500-170667a.jpg);
    }

    .work-box:nth-child(5){
      background-image: url(../images/coding-courses-800x449\ \(1\).png);
    }

    /* change opacity on mouse over*/
    .work-box:hover{
      opacity: var(--opacity);
    }
    /*formats text on bottom right*/
    .header-h1-work{

      background-color: azure;
      border-radius: 10px;
      padding: 10px 15px 10px 25px;
      font-family: var(--body-font);
      color:black;
      display: inline-block;
      margin: 0;
      position: absolute;
      bottom:10px;
      left:10px;
    
     }
     /*set up line break in image text*/
  .break{
    display: block;
    font-size: 15px;
  }

   
    /***********************************************************************/

    /* formats ul so it formats on the webpage correctly */
    footer ul{
        list-style: none;
        margin: 0 2px;
        padding: 10px;
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        color: black;
      }
      footer a{
        color: black;
      }
      .break{
        display: block;
        font-size: 15px;
      }
    /* change size of images as screen gets smaller also changes to flex column in my work and footer*/
    @media screen and (max-width: 992px)
    {
      .banner-img{
        height: 300px;
      }
    }

      @media screen and (max-width: 768px) {

        footer ul{
          flex-direction: column;
          text-align: center;
        }
        .banner-img{
          height:200px;
        }
        .work-box:first-child{
          max-height: 400px;
        }
        .work-box:not(:first-child){
          min-height: 250px;
        }
        .container-work{
          flex-direction: column;
         
        }

      }

